RewriteEngine on

RewriteCond %{HTTP_HOST} ^listorypad\.eu [NC]
RewriteRule (.*) https://listorypad.vasekcerny.cz/index.php?url=$1 [R=301,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^(.*) index.php?url=$1 [L,QSA]
