
@font-face {
  font-family: "Myfnt";
  src: url("myFont.woff");
  src: url('/fonts/font.eot');
  src: url('/fonts/font.eot?#iefix') format('embedded-opentype'),
         url('/fonts/font.woff2') format('woff2'),
         url('/fonts/font.woff') format('woff'),
         url('/fonts/cfont.ttf') format('truetype');
         //  url('/fonts/cicle_fina-webfont.svg#ciclefina') format('svg');
}
h1{font-family:"Myfnt"; font-size:80px;}
h2{font-family:"Myfnt"; }

tr:nth-child(even) {background: rgb(253,253,253);}
td{padding:10px 10px 10px 10px; }

img.user {
  width:100px;
  clip-path: circle(49px at center);
  /* OLD VALUE example: circle(245px, 140px, 50px); */
  /* Yep, even the new clip-path has deprecated stuff. */
}

audio{max-width:200px;}
